app/app/build/
app/build/
app/local.properties
backend/config.php
/config.php
app/.idea/
releases/
docs/10k-Spielregeln.odt
.~lock.*#
docs/10K_Anforderungen.pdf
docs/10K_API_Spezifikation.pdf
docs/10K_ERM.drawio
docs/10K_ERM.jpg
docs/10K_Projektdokumentation.odt
docs/10K_Regelblatt.pdf
docs/10K_Umsetzungsplan.odt
docs/10K_Umsetzungsplan.pdf
docs/10K_UseCases.pdf
